.imgContainer {
  /* position: relative; */
  display: flex;
  flex-direction: row;
}

.logosContainer .imgSet {
  animation: rotaingImageSet 20s linear infinite;
}

.logosContainer .imgSet img {
  filter: grayscale(1);
}

.logosContainer:hover .imgSet {
  animation-play-state: paused;
}

@keyframes rotaingImageSet {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}
